/*-------------
 	General
-------------*/
*,
i,
a,
p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #555;
    width: 100%;
}

ul,
nav {
    list-style: none;
}

h1,
h2 h3 {
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

a.btn {
    color: #fff;
    border-radius: 4px;
    background-color: rgba(5, 69, 153, 0.767);
    font-weight: 600;
    text-align: center;
}

hr {
    width: 150px;
    height: 2px;
    background-color: rgba(5, 69, 153, 0.767);
    border: 0;
    margin-bottom: 30px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 100px;
    margin: 0 auto;
    line-height: 1.5;
    padding: 4em 1em;
}

section h3.title {
    color: #333;
    text-transform: capitalize;
    font: 600 24px "Roboto", sans-serif;
    margin-bottom: 35px;
    text-align: center;
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

/*-------------
 	Header
-------------*/

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 0;
}

header h2 {
    display: none;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto 0;
}

header nav li {
    margin: 0 15px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}

/*----------------
Hero Section
----------------*/

.hero {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
    padding: 0;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #2196f3;
    z-index: -1;
}

.hero .background-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #414a4f;
    opacity: 0.75;
}

.hero .mugshot-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100%;
    border: 3px solid rgba(255, 255, 255, 0.87);
}

.hero .mugshot {
    width: 100%;
    position: relative;
    top: -20px;
}

.hero h1 {
    font: 400 36px "Roboto", sans-serif;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.87);
}

.hero h3 {
    font: normal 20px "Roboto", sans-serif;
    margin-bottom: 40px;
}

.hero a.btn {
    padding: 10px 16px;
    border: 3px solid white;
    background-color: transparent;
    font-size: 16px;
}

.hero a.btn:hover {
    background-color: #333;
}

/*--------------------
 	About Section
---------------------*/
.about {
    font-size: 14px;
    width: 100%;
    padding: 0;
    margin: 20px auto;
}

.about h3.title {
    margin: 10px auto;
}

.about p {
    width: 262px;
    margin: 0 auto;
    padding: 0;
}

.about-responsive {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-responsive h3 {
    margin: 20px auto 5px;
    font-size: 20px;
}

.skills {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skills .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 20px 0 0;
}

.skills .item i {
    font-size: 25px;
    margin: 0 0 10px 0;
}

.skills .item h3 {
    font-size: 16px;
}

.skills .item p {
    width: 100%;
    font-size: 14px;
}

.tech {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.tg1,
.tg2,
.tg3 {
    width: 70%;
    display: flex;
    margin: 10px auto 10px;
}

.tech-group {
    width: 50%;
}

.tech-group p:nth-child(1) {
    font-weight: bold;
    font-size: 16px;
}

.tech-group p {
    margin: 0;
    font-size: 14px;
    width: 100%;
}

ul.grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

ul.grid li {
    display: flex;
}

/*--------------------
 	Experience Section
---------------------*/

.experience {
    background-color: rgba(5, 69, 153, 0.767);
    color: white;
    padding: 0;
    margin: 0;
    width: 100%;
}

.experience h3.title {
    color: white;
    margin: 20px auto 10px;
}

.project-container {
    width: 100%;
}

.project {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 50px auto 20px;
}

.project-img {
    margin: 0 auto;
    width: 260px;
    height: 186px;
}

.project p:nth-child(1),
.project p:nth-child(3) {
    font-weight: 500;
    font-size: 16px;
    margin: 10px 0 0;
}

.project p:nth-child(2),
.project p:nth-child(4) {
    font-size: 14px;
    margin: 0 0 10px;
}

.project .description p {
    text-align: left;
}

.project-links {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 20px auto 0;
}

.project-links button {
    color: white;
    background-color: inherit;
    padding: 3px 10px;
    border: 2px solid rgba(255, 255, 255, 0.753);
    border-radius: 4px;
    font-size: 14px;
}

.project-links button:hover {
    background-color: rgba(85, 85, 85, 0.445);
}

/*--------------------
 	Reviews Section
--------------------*/

.reviews {
    background-color: #fff;
}

.reviews .quote {
    text-align: center;
    width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.reviews .author {
    font-size: 18px;
    margin-bottom: 50px;
}

.reviews .author:last-child {
    margin-bottom: 0;
}

/*---------------------
 	Contact Section
---------------------*/
.contact {
    margin: 0 0 20px;
    padding: 0;
}

.contact h3.title {
    margin: 20px auto 10px
}

.contact-links {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.contact-links ul {
    font-size: 14px;
}

.contact-links ul.labels {
    width: 30%;
    text-align: right;
    margin: 0 10px;
    font-weight: 800;
}

.contact-links ul.labels li {
    margin: 0 0 15px;
}

.contact-links ul.info {
    margin: 0 10px;
}

.contact-links ul.info li {
    margin: 0 0 15px;
}

/*-------------
 	Footer
-------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #414a4f;
    padding: 20px 0;
}

footer ul {
    display: flex;
    margin-bottom: 5px;
    font-size: 32px;
}

footer ul li {
    margin: 0 8px;
}

footer ul li:first-child {
    margin-left: 0;
}

footer ul li:last-child {
    margin-right: 0;
}

footer p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 5px;
}

footer p a {
    color: #fff;
}
